#!/bin/sh
exec consul-template -consul=192.168.33.201:8500 -template "/etc/consul-templates/nginx.conf:/etc/nginx/conf.d/app.conf:nginx -s reload" -retry 10s -once 